<div class="background">
    <div class="flex-center">
        <div class="desk-max-width">
            <div class="main-content-box">

                <!-- <img *ngFor="let image of styleElements"
                    [src]="image.src"
                    [ngStyle]="{
                        'position': 'absolute',
                        'top': image.top,
                        'left': image.left,
                        'z-index': image.zIndex
                    }" 
                    src="" alt=""> -->
                <img 
                (click)="scrollToTop()" 
                (mouseenter)="isHovered = true" (mouseleave)="isHovered = false"
                class="to-top-btn" [src]="isHovered ? './assets/img/contact/to-top-hover.png' : './assets/img/contact/to-top.png'" alt="jump to top button">
                <div class="text-box">
                    <h2>{{ 'CONTACT.TITLE' | translate }}</h2>
                    <span class="secondary-title">{{ 'CONTACT.SECONDTITLE' | translate }}</span>
                    <p>{{ 'CONTACT.TEXT' | translate }}</p>
                    <span class="contact-offer">{{ 'CONTACT.QUESTION' | translate }} <b>{{ 'CONTACT.ME' | translate }}</b></span>
                </div>
                
                <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
                    <div class="input-box">
                        <input #name="ngModel" [(ngModel)]="contactData.name" type="text" name="username" id="name" required placeholder="" minlength="2">
                        <label for="name">{{ 'CONTACT.YOURNAME' | translate }}</label>
                        @if (name.dirty) {
                            <div class="icon-box">
                                <img *ngIf="name.errors?.['required']" src="./../../../assets/img/contact/error.png">
                                <img *ngIf="name.errors?.['minlength']" src="./../../../assets/img/contact/error.png">
                                <img *ngIf="name.valid" src="./../../../assets/img/contact/done.png">
                            </div>
                            <div class="error-msgs-box">
                                <span *ngIf="name.errors?.['required']" class="error-txt">{{ 'CONTACT.NAMEERRONE' | translate}}</span>
                                <span *ngIf="name.errors?.['minlength']" class="error-txt">{{ 'CONTACT.NAMEERR' | translate }}</span>
                            </div>
                        }
                    </div>
                    <div class="input-box">
                        <input #mail="ngModel" [(ngModel)]="contactData.mail" type="email" name="email" id="email" required placeholder="" pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
                        <label for="email">{{ 'CONTACT.YOURMAIL' | translate }}</label>
                        @if (mail.dirty) {
                            <div class="icon-box">
                                <img *ngIf="mail.errors?.['required']" src="./../../../assets/img/contact/error.png">
                                <img *ngIf="mail.errors?.['pattern']" src="./../../../assets/img/contact/error.png">
                                <img *ngIf="mail.valid" src="./../../../assets/img/contact/done.png">
                            </div>
                            <div class="error-msgs-box">
                                <span *ngIf="mail.errors?.['required']" class="error-txt">{{ 'CONTACT.MAILERRSEC' | translate }}</span>
                                <span *ngIf="mail.errors?.['pattern']" class="error-txt">{{ 'CONTACT.MAILERR' | translate }}</span>
                            </div>
                        }
                    </div>
                    <div class="input-box">
                        <textarea #message="ngModel" [(ngModel)]="contactData.message" minlength="10" name="usermessage" type="message" id="message" placeholder="" minlength="10" required></textarea>
                        <label class="textarea-label" for="message">{{ 'CONTACT.YOURMSG' | translate }}</label>
                        @if (message.dirty) {
                            <div class="icon-box">
                                <img *ngIf="message.errors?.['required']" src="./../../../assets/img/contact/error.png">
                                <img *ngIf="message.errors?.['minlength']" src="./../../../assets/img/contact/error.png">
                                <img *ngIf="message.valid" src="./../../../assets/img/contact/done.png">
                            </div>
                            <div class="error-msgs-box">
                                <span *ngIf="message.errors?.['required']" class="error-txt">{{ 'CONTACT.MSGERRSEC' | translate }}</span>
                                <span *ngIf="message.errors?.['minlength']" class="error-txt">{{ 'CONTACT.MSGERR' | translate }}</span>
                            </div>
                        }
                    </div>
                    <div class="check-box">
                        <input #privacy="ngModel" [(ngModel)]="contactData.privacy" type="checkbox" name="privacy" id="privacyCheckbox" required>
                        <label for="privacyCheckbox">
                            <img (click)="checkBoxState()" [src]="privacy.valid ? './assets/img/contact/checkbox-checked.png' : './assets/img/contact/checkbox-empty.png'" alt="checkbox">
                        </label>
                        <span class="check-box-txt">{{ 'CONTACT.POLICYONE' | translate }}<span routerLink="privacy" class="privacy">{{ 'CONTACT.POLICYSEC' | translate }}</span> {{ 'CONTACT.POLICYTHIRD' | translate }}</span>
                    </div>
                    <button [disabled]="!contactForm.valid">{{ 'CONTACT.BUTTON' | translate }}</button>
                </form>
            </div>
        </div>
    </div>
</div>
<app-mail-feedback *ngIf="userMessageSend"></app-mail-feedback>
