<div class="flex-center">
    <div class="desk-max-width">
        <div class="main-content-box">
            <div class="text-box">
                <h2>Contact</h2>
                <span class="secondary-title">Got a problem to solve?</span>
                <p>Contact me through this form, I am interested in hearing from you, knowing your ideas and contributing to your projects with my work.</p>
                <span class="contact-offer">Need a Frontend developer? <b>Contact me!</b></span>
            </div>

            <form>
                <div class="input-box">
                    <input type="text" name="username" id="name" required placeholder="">
                    <label for="name">your name</label>
                </div>
                <div class="input-box">
                    <input type="email" name="email" id="email" required placeholder="">
                    <label for="email">your email</label>
                </div>
                <div class="input-box">
                    <textarea minlength="10" name="usermessage" type="message" id="message" placeholder="" required></textarea>
                    <label for="message">your message</label>
                </div>
                <div class="check-box">
                    <img (click)="checkBoxState()" [src]="checkBoxAccepted ? './assets/img/contact/checkbox-checked.png' : './assets/img/contact/checkbox-empty.png'" alt="">
                    <span class="check-box-txt">I've read the privacy policy and agree to the processing of my data as outlined.</span>
                </div>
                <button disabled>Say hello ;)</button>
                
                
            </form>
        </div>
    </div>
</div>
