<div class="flex-center">
    <div class="desk-max-width">
        <div class="main-content-box">
            <img src="./assets/img/self-presentation/bubble-6-small.png" class="bubble" alt="bubble">
            <div class="title-box">
                <h2>{{ 'DESCRIPTION.TITLE' | translate }}</h2>
            </div>
            <div class="text-box">
                <h3>{{ 'DESCRIPTION.STARTTEXT' | translate }}</h3>
                <br>
                <h3>{{ 'DESCRIPTION.ENDTEXT' | translate }}</h3>
                <button 
                    routerLink="/" 
                    fragment="contact">
                    {{ 'DESCRIPTION.BUTTON' | translate }}
                </button>
            </div>
        </div>
    </div>
</div>