<div class="flex-center">
    <div class="desk-max-width">
        <div class="main-content-box">
            <div class="title-box">
                <h2>Let's work togehter</h2>
            </div>
            <div class="text-box">
                <h3>I am a Front-end developer based in Munich, Germany. I enjoy helping designers and companies bring their ideas into real life.  
                I am looking forward to continuing my developer career with a job in a junior web developer position.</h3>
                <br>
                <h3>If you think I’d be a good match for your projects, contact me!</h3>
                <button>Send a message</button>
            </div>
        </div>
    </div>
</div>