@import './../styles.scss';

.page-container {
    position: relative;
    min-height: 100vh;
}

.content-wrap {
    padding-bottom: 291px;    /* Footer height */
    @media (max-width: $breakpoint-md) {
        padding-bottom: 380px;
    }
}


.lang-container-desktop {
    background-color: rgba($main-color, 0.5);
    padding: 12px;
    position: absolute;
    right: 12px;
    top: -24px;
    border-radius: 999px;
    z-index: 9999;
    transition: all 250ms ease-in-out;
    display: block;
    &:hover {
        transform: scale(1.2);
    }
    >.btn-lang {
        font-family: 'Montserrat', Arial, Helvetica, sans-serif;
        font-size: 16px;
        padding: 16px;
        color: $color-white;
        border: none;
        border-radius: 999px;
        background-color: rgba($main-color, 0.8);
        &:hover {
            cursor: pointer;
        }
    }
}

.mobile-extension {
    @media (max-width: $breakpoint-xxl) {
        top: -80px;
        right: 90px;
        &.trans-right {
            top: 17px;
        }
    }
    @media (max-width: $breakpoint-md) {
        top: -80px;
        right: 70px;
        &.trans-right {
            top: 17px;
        }
    }

}







