@import './../styles.scss';

.page-container {
    position: relative;
    min-height: 100vh;
}

.content-wrap {
    padding-bottom: 291px;    /* Footer height */
    @media (max-width: $breakpoint-md) {
        padding-bottom: 380px;
    }
}