<div class="page-container">
        <div class="content-wrap">
            <div class="desk-max-width">
                <div class="lang-container-desktop mobile-extension" [ngClass]="{'trans-right': menuIsVisible}">                    
                    <div (click)="toggleLanguage()" class="btn-lang">{{ 'LANGBTN.LANG' | translate}}</div>
                </div>            
            </div>
            <app-navigation></app-navigation>
            <router-outlet />
        </div>
    <app-footer></app-footer>
</div>
