@import './../../styles.scss';

.main-content-box {
    margin-top: 120px;
    position: relative;
    @media (max-width: $breakpoint-lg) {
        padding: 0 20px;
    }
}

div {
    color: $main-color;
}

::ng-deep h1 {
    font-size: 48px !important;
}

::ng-deep h1 {
    font-family: 'Baloo 2', Arial, Helvetica, sans-serif;
    font-size: 32px;
    color: $main-color;
}

::ng-deep h2 {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 24px;
    margin: 24px 0 12px 0;
}

::ng-deep h3, ::ng-deep h4 {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: 12px 0 8px 0;
}

::ng-deep p {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
        color: $main-color;
}


::ng-deep ul {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    li {
        margin: 12px 0 8px 0;
    }
}

::ng-deep a {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
        color: $text-color;
    }
}

.mb-64 {
    margin-bottom: 64px;
}