<div class="flex-center">
    <div class="desk-max-width">
        <div class="main-content-box">
            <img src="./assets/img/landing/desktop-mid-bubble.png" 
                [ngStyle]="{
                'position': 'absolute',
                'left': '-75px',
                'top': '-210px',
                'z-index': '-1'
                }"
            alt="">
            <div class="imprint-card">
                <span class="imprint-title">{{ 'IMPRINT.CONTENT' | translate }}</span>
                <ul>
                    <li class="mb-16">{{ 'IMPRINT.ACCORDING' | translate }}</li>
                    <li>Maximilian Mühlbauer</li>
                    <li>Bachstraße 10a</li>
                    <li>59423 Unna</li>
                </ul>
            </div>
            <div class="imprint-card">
                <span class="imprint-title">{{ 'IMPRINT.CONTACT' | translate }}</span>
                <div class="row-1">

                    <a href="tel:+015253416793"><img src="./assets/img/imprint/phone-24.png" alt="">0152 53416793</a>
                 </div>
                <div class="row-2">
                    <a href="mailto:maximilian-muehlbauer@web.de"><img src="./assets/img/imprint/mail-24.png" alt="">maximilian-muehlbauer&#64;web.de</a>
                 </div>
            </div>
            <div class="imprint-card mb-120">
                <span class="imprint-title">{{ 'IMPRINT.DISCLAIMER' | translate }}</span>
                <ul>
                    <li class="mb-16 ">{{ 'IMPRINT.DISC_TEXT' | translate }}</li>
                </ul>
            </div>

        </div>
    </div>
</div>
