<div class="flex-center">
    <div class="desk-max-width">
        <div class="main-content-box">
            <img src="./assets/img/landing/desktop-mid-bubble.png" 
                [ngStyle]="{
                'position': 'absolute',
                'left': '-75px',
                'top': '-210px',
                'z-index': '-1'
                }"
            alt="">
            <div class="imprint-card">
                <span class="imprint-title">Imprint</span>
                <ul>
                    <li class="mb-16">Gemäß § 5 TMG</li>
                    <li>Maximilian Mühlbauer</li>
                    <li>Bachstraße 10a</li>
                    <li>59423 Unna</li>
                </ul>
            </div>
            <div class="imprint-card">
                <span class="imprint-title">Contact</span>
                <div class="row-1">

                    <a href="tel:+015253416793"><img src="./assets/img/imprint/phone-24.png" alt="">0152 53416793</a>
                 </div>
                <div class="row-2">
                    <a href="mailto:maximilian-muehlbauer@web.de"><img src="./assets/img/imprint/mail-24.png" alt="">maximilian-muehlbauer&#64;web.de</a>
                 </div>
            </div>
            <div class="imprint-card mb-120">
                <span class="imprint-title">Haftungsausschluss</span>
                <ul>
                    <li class="mb-16 ">Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.</li>
                </ul>
            </div>

        </div>
    </div>
</div>
