<div class="background">
    <div class="flex-center">
        <div class="desk-max-width">
            <div class="main-content-box">
                <div class="img-box">
                    <img src="./../../../assets/img/landing/portfolio-big.png" class="self-portrait" alt="person">
                </div>
                <div class="text-box">
                    <div class="main-title-box">
                        <h1>Hello! I am Max</h1>
                        <span class="main-title-row-1">Frontend</span>
                        <span class="main-title-row-2">Developer</span>
                    </div>
                    <div class="scroll-info-box">
                        <h3>Scroll</h3>
                        <div class="divider"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
