<div class="background">
    <div class="flex-center">

        <div class="desk-max-width">
            <div class="main-content-box">
                <img src="./assets/img/landing/bubble-3-big.png" class="mobile-bubble-top-left" alt="bubble">
                <img src="./assets/img/landing/desktop-mid-bubble.png" class="bubble" alt="bubble">
                <div class="img-box">
                    <img src="./../../../assets/img/landing/portfolio-big.png" class="self-portrait" alt="person">
                </div>
                <div class="text-box">
                    <div class="main-title-box">
                        <h1>Hello! I am Max</h1>
                        <span class="main-title-row-1">Frontend</span>
                        <span class="main-title-row-2">Developer</span>
                    </div>
                    <div class="scroll-info-box">
                        <h3>Scroll</h3>
                        <div class="divider"></div>
                    </div>
                    <div class="social-link-box">
                        <a href="https://github.com/maksmuehlbauer" target="_blank"><img src="./assets/img/landing/github.png" alt=""></a>
                        <a href="mailto: maximilian-muehlbauer@web.de" target="_blank"><img src="./assets/img/landing/desk-mail.png" alt=""></a>
                        <a href="https://www.linkedin.com/in/maximilian-m%C3%BChlbauer/" target="_blank"><img src="./assets/img/landing/linkin.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
