@import './../../../styles.scss';

.main-content-box {
    width: 100%;
    max-width: 1440px;
    background-color: aliceblue;
}

.header {
    @include display($jc:space-between);
    position: absolute;
    width: 1440px;
    height: 117px;
    img {
        cursor: pointer;
    }
}

.navigation {
    @include display();
    gap: 40px;
}

h3 {
    width: 140px;
    cursor: pointer;
    text-align: right;
    &:hover {
        font-weight: 800;
    }
}