@import './../../../styles.scss';

.main-content-box {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}


.header {
    @include display($jc:space-between);
    position: fixed;
    max-width: 1440px;
    width: 100%;
    height: 117px;
    z-index: 10;
    box-sizing: border-box;
    transition: top 250ms ease-in-out ;
    top: 0;
    img {
        cursor: pointer;
    }
    &.header-hidden {
        top: -100px;
    }
    @media (max-width: $breakpoint-xxl) {
        padding: 0 40px;
    }
    @media (max-width: $breakpoint-md) {
        padding: 0 20px;
    }
}


.mobile-navigation {
    display: none;
    @media (max-width: $breakpoint-xxl) {
        @include display();
        flex-direction: column;
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100vh;
        background-color: aliceblue;
        z-index: 999;
        transition: right 250ms ease-in-out;
        &.menu-show {
            right: 0;
        }
        >.logo-box {
           @include display($jc: space-between);
            padding: 0 40px;
            height: 117px;
            width: 100%;
            position: absolute;
            top: 0;
           @media (max-width: $breakpoint-md) {
            padding: 0 20px;
           }
        }
        .link-box {
            display: flex;
            flex-direction: column;
            gap: 30px
        }
    }
}


.navigation {
    @include display();
    gap: 40px;
    @media (max-width: $breakpoint-xxl) {
        display: none;
    }
}


.burger-menu {
    display: none;
    @media (max-width: $breakpoint-xxl) {
        display: block;
    }
}


h3 {
    width: 150px;
    cursor: pointer;
    text-align: right;
    &:hover {
        font-weight: 800;
    }
    @media (max-width: $breakpoint-xxl) {
        text-align: left;
    }
}