<div class="flex-center">
    <div class="main-content-box">
        <div class="header" [class.header-hidden]="isHeaderHidden">
            <img routerLink="/" src="./assets/img/landing/logo.png" alt="">
            <div class="navigation">
                <h3 routerLink="/" fragment="about-me">{{ 'HEADER.ABOUT' | translate }}</h3>
                <h3 routerLink="/" fragment="skill-set">{{ 'HEADER.SKILL' | translate }}</h3>
                <h3 routerLink="/" fragment="my-work">{{ 'HEADER.WORKS' | translate }}</h3>
            </div>
            <div class="burger-menu">
                <img src="./assets/img/landing/burger-menu.png" 
                alt="burger-menu"
                (click)="portfolioService.toggleMenu()">
            </div>
                <div class="mobile-navigation" [class.menu-show]="menuIsVisible">
                    <div class="logo-box">
                        <img routerLink="/" src="./assets/img/landing/logo-menu-red.png" alt="logo" (click)="portfolioService.toggleMenu()">
                        <img src="./assets/img/landing/close-48px.png" alt="close-btn" (click)="portfolioService.toggleMenu()">
                    </div>
                    <div class="link-box">
                        <h3 routerLink="/" fragment="about-me" (click)="portfolioService.toggleMenu()">{{ 'HEADER.ABOUT' | translate }}</h3>
                        <h3 routerLink="/" fragment="skill-set" (click)="portfolioService.toggleMenu()">{{ 'HEADER.SKILL' | translate }}</h3>
                        <h3 routerLink="/" fragment="my-work" (click)="portfolioService.toggleMenu()">{{ 'HEADER.WORKS' | translate }}</h3>
                        <h3 routerLink="/" fragment="contact" (click)="portfolioService.toggleMenu()">{{ 'HEADER.CONTACT' | translate }}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
