<div class="flex-center">
        <div class="main-content-box">
            <div class="header">
                <img routerLink="/" src="./assets/img/landing/logo.png" alt="">
                <div class="navigation">
                    <h3 routerLink="/" fragment="about-me">About me</h3>
                    <h3 routerLink="/" fragment="skill-set">Skill set</h3>
                    <h3 routerLink="/" fragment="my-work">My work</h3>
                    <img src="./assets/img/landing/burger-menu.png" alt="">
                </div>
            </div>
        </div>
</div>