@import './../../../styles.scss';

.main-content-box {
    width: 100%;
    max-width: 1440px;
}

.header {
    @include display($jc:space-between);
    position: absolute;
    max-width: 1440px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 117px;
    z-index: 10;
    padding: 0 40px;
    box-sizing: border-box;
    // overflow: hidden;
    img {
        cursor: pointer;
    }
    @media (max-width: $breakpoint-md) {
        padding: 0 20px;
    }
}

.hidden-menu-box {
    // display: none;
    overflow: hidden;
    max-width: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    z-index: -10;
    &.layer-switch {
        z-index: 20;
    }
}

.mobile-navigation {
    display: none;
    @media (max-width: $breakpoint-xxl) {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100vh;
        background-color: aliceblue;
        transform: translateX(100%);
        transition: transform 250ms ease-in-out;
        &.menu-show {
            transform: translateX(0%);
        }
    }
}

.navigation {
    @include display();
    gap: 40px;
    @media (max-width: $breakpoint-xxl) {
        display: none;
    }
}

.burger-menu {
    display: none;
    @media (max-width: $breakpoint-xxl) {
        display: block;
    }
}

h3 {
    width: 140px;
    cursor: pointer;
    text-align: right;
    &:hover {
        font-weight: 800;
    }
//     @media (max-width: $breakpoint-xxl) {
//         display: none;
//   }
}