<div class="background">
    <div class="flex-center">
        <div class="desk-max-width">
            <div class="main-content-box">
                <img src="./assets/img/footer/logo-footer.png" alt="logo">
                <div class="name-box">
                    <h3>&copy; Maximilian Mühlbauer</h3>
                    <p>Impressum</p>
                </div>
                <div class="social-link-box">
                    <img src="./assets/img/footer/Github button.png" alt="">
                    <img src="./assets/img/footer/mail.png" alt="">
                    <img src="./assets/img/footer/linkedin.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
