@import './../../../styles.scss';

:host {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.background {
    background-image: url(./../../../assets/img/footer/footer-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 291px;
    @media (max-width: $breakpoint-md) {
        height: 380px;
    }
}

.main-content-box {
    width: 100%;
    height: 291px;
    @include display($jc: space-between);
    position: relative;
    @media (max-width: $breakpoint-md) {
        flex-direction: column;
        justify-content: center;
        height: 380px;
        gap: 23px;
    }
}

.show-desk {
    @media (max-width: $breakpoint-md) {
        display: none !important;
    }
}

.show-mobile {
    display: none;
    @media (max-width: $breakpoint-md) {
        display: inline-block !important;
    }
}

p {    
        color: $color-white;
        position: relative;
        display: inline-block;
        padding-bottom: 4px;
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: -30%;
            opacity: 0;
            width: 70%;
            height: 2px;
            background-color: $color-white;
            transition: all 125ms ease-in-out;
        }
        &:hover {
            font-weight: 600;
            cursor: pointer;
            &::after {
                opacity: 1;
                left: 15%;
            }
        }
    }


.name-box {
    @include display();
    flex-direction: column;
    gap: 29px;
    margin-top: 42px;
    >h3 {
        color: $color-white
    }
    @media (max-width: $breakpoint-md) {
        margin-top: 0;
    }
}

.social-link-box {
    @include display();
    gap: 42px;
    >a {
        transform: scale(1.0);
        transition: transform 125ms ease-in-out;
        &:hover {
        transform: scale(1.3);
        }
    }
}

.logo-img {
    &:hover {
        cursor: pointer;
    }
}