<div class="background">
    <div class="flex-center">
        <div class="desk-max-width">
            <div class="main-content-box">
                <img routerLink="/" class="logo-img" src="./assets/img/footer/logo-footer.png" alt="logo">
                <div class="name-box">
                    <h3>&copy; Maximilian Mühlbauer</h3>
                    <p routerLink="imprint">Impressum</p>
                </div>
                <div class="social-link-box">
                    <a href="https://github.com/maksmuehlbauer" target="_blank"><img src="./assets/img/footer/Github button.png" alt=""></a>
                    <a href="mailto: maximilian-muehlbauer@web.de" target="_blank"><img src="./assets/img/footer/mail.png" alt=""></a>
                    <a href="https://www.linkedin.com/in/maximilian-m%C3%BChlbauer/" target="_blank"><img src="./assets/img/footer/linkedin.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</div>
